<div class="container mt-2">
    <div class="row justify-content-end">
        <div class="form-group col-sm-4">
            <input class="form-control" type="text" placeholder="Search" ng-model="search">
        </div>
    </div>
    <ul class="list-group">
        <li class="list-group-item" ng-repeat="task in tasks | filter:search track by $index " >
            <div class="row" ng-if="!task.editState">
                <h4 class="col-sm-7 pt-1">{{task.name}}</h4>
                <span class="col-sm-2 pt-1 lead">{{task.time }}</span>
                <div class="col-sm-3">
                    <button class="btn btn-outline-info" ng-click="task.editState = taskManager.changeEditState(task.editState)">Edit Item</button>
                    <button class="btn btn-outline-danger" ng-click = "taskManager.delete($index)">Delete Item</button>
                </div>
            </div>
            <div class="row" ng-if="task.editState">
                <input class="form-control-lg col-sm-10" type="text" on-key-up="taskManager.edit($index,newTask);task.editState = taskManager.changeEditState(task.editState)" placeholder="{{task.name}}" ng-model="newTask">
                <div class="col-sm-2">
                    <button class="btn btn-outline-info" ng-click="taskManager.edit($index,newTask);task.editState = taskManager.changeEditState(task.editState)">Save Item</button>
                </div>
            </div>
        </li>
    </ul>
</div>